li:hover {
    cursor: pointer;
}

.bg-light {
    background-color: #9fb8ad !important;
}

.btn-outline-primary {
    color: black;
    border-color: #1e212d;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #1e212d;
    border-color: #1e212d;
}

.navbar-brand {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(5, 5, 44);
    font-size: 27px;
}


/* .inputSearch {} */