<div class="container-fluid imageback d-flex  justify-content-center align-items-center pt-5">

    <div class=" row m-5 h-100 w-50 d-flex justify-content-center align-items-center mt-5 " style="margin-bottom :300px; ">





        <div class="col p-5 bg-custom d-flex justify-content-center align-items-center flex-column w-50">



            <form class="w-75" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="mb-3 form-group">
                    <input type="text" formControlName="username" class="form-control" id="exampleFormControlInput1" placeholder="User Name">
                    <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched" class="help-block">
                        <span *ngIf="signupForm.get('username').errors['required']">
                            This field is required
                        </span>
                    </span>
                    <span *ngIf="this.error">
                        <span *ngIf="this.error[0]==='username'">
                            Repeated username, pleas try again
                        </span>
                    </span>
                </div>
                <div class="mb-3 form-group">
                    <input type="text" class="form-control" formControlName="fname" placeholder="First Name">
                    <span *ngIf="!signupForm.get('fname').valid && signupForm.get('fname').touched" class="help-block">
                        <span *ngIf="signupForm.get('fname').errors['required']">
                            This field is required
                        </span>
                    <span *ngIf="signupForm.get('fname').errors['name has numbers']">
                            Name Shouldn't contain numbers
                        </span>
                    <span *ngIf="signupForm.get('fname').errors['minlength'] || signupForm.get('fname').errors['maxlength']">
                            Enter Valid name with minLength equal and maxLength equal 8
                        </span>
                    </span>
                </div>
                <div class="mb-3 form-group">
                    <input type="text" id="lname" class="form-control" formControlName="lname" placeholder="Last Name">
                    <span *ngIf="!signupForm.get('lname').valid && signupForm.get('lname').touched" class="help-block">
                        <span *ngIf="signupForm.get('lname').errors['required']">
                            This field is required
                        </span>
                    <span *ngIf="signupForm.get('lname').errors['name has numbers']">
                            Name Shouldn't contain numbers
                        </span>
                    <span *ngIf="signupForm.get('lname').errors['minlength'] || signupForm.get('lname').errors['maxlength']">
                            Enter Valid name with minLength equal and maxLength equal 8
                        </span>
                    </span>
                </div>
                <div class="mb-3 form-group">
                    <label for="gender" style="margin-right: 5px;">Choose your Gender:</label>
                    <select id="gender" name="gender" formControlName="gender">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option> 
                    </select>
                </div>
                <div class="mb-3 form-group">
                    <input type="email" id="email" class="form-control" name="email" formControlName="email" placeholder="Mail">
                    <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="help-block">
                        <span *ngIf="signupForm.get('email').errors['required']">
                            This field is required
                        </span>
                    <span *ngIf="signupForm.get('email').errors['email']">
                            Please enter Valid Mail: test@site.com
                        </span>
                    </span>
                </div>
                <div class="mb-3 form-group">
                    <input type="password" id="password" class="form-control" name="password" formControlName="password" formControlName="password" placeholder="Password">
                    <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" class="help-block">
                        <span *ngIf="signupForm.get('password').errors['required']">
                            This field is required
                        </span>
                    <span *ngIf="signupForm.get('password').errors['minlength']">
                            Enter Valid Pass with minLength equal 8
                        </span>
                    </span>
                    <span class="help-block" *ngIf="this.error">
                        <span *ngIf="this.error[0]==='mail'">
                            Repeated Mail pleas try again
                        </span>
                    </span>
                </div>
                <div class="mb-3 form-group">
                    <input type="text" id="phone" class="form-control" formControlName="phone" placeholder="Phone">
                    <span *ngIf="!signupForm.get('phone').valid && signupForm.get('phone').touched" class="help-block">
                        <span *ngIf="signupForm.get('phone').errors['required']">
                            This field is required 
                        </span>
                    <span *ngIf="signupForm.get('phone').errors['age has chars']">
                            Phone should be numbers only
                        </span>
                    <span *ngIf="signupForm.get('phone').errors['minlength'] || signupForm.get('phone').errors['maxlength']">
                            Phone Number of 11 numbers only
                        </span>
                    </span>
                </div>
                <div class="mb-3 form-group">
                    <label for="governorater" style="margin-right: 5px;">Choose your Governorater:</label>
                    <select id="governorater" name="governorater" formControlName="gover">
                        <option value="Ismailia">Ismailia</option>
                        <option value="Alexandria">Alexandria</option>
                        <option value="Cairo">Cairo</option>
                        <option value="Port Said">Port Said</option>
                        <option value="Suez">Suez</option>
                    </select>
                </div>
                <div class="mb-3 form-group">
                    <input type="text" class="form-control" formControlName="address" id="address" placeholder="Address ">
                </div>
                <div class="mb-3 form-group">
                    <label for="img" style="margin: 2px;" class="form-label">Profile Image: </label>
                    <input type="file" id="img" name="img" (change)="onImageUploaded($event)">
                    <!-- <span *ngIf="!signupForm.get('image').valid" class="help-block">
                        <span *ngIf="signupForm.get('image').errors['required']">
                            This field is required
                        </span>
                        <span *ngIf="signupForm.get('image').errors['invalidPhoto']">
                            Upload Photo .jpg or .png
                        </span>
                    </span> -->
                </div>
                <div class="image-preview" *ngIf="myImagePreview !== ''  && myImagePreview">
                    <img [src]="myImagePreview" [alt]="">
                </div>
                <button [disabled]="!signupForm.valid" type="submit" class="btn btn-custom btn-lg btn-block mt-3">Register</button>
            </form>






        </div>





    </div>
</div>