<div style="margin-top: 5vw;"></div>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="row gutters">

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h6 class="mb-3 text-primary bold ">Personal Details</h6>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">

                        <div class="form-group">
                            <label for="username">User Name</label>
                            <input type="text" formControlName="username" class="form-control" id="username" placeholder="Enter user name" [value]="username">

                        </div>
                    </div>
                    <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                        <div class="form-group ">
                            <label for="password ">PassWord</label>
                            <input type="password " formControlName="password" class="form-control " id="password " placeholder="Enter PassWord " disabled>
                            <span *ngIf="!signupForm.get( 'password').valid && signupForm.get( 'password').touched " class="help-block ">
                            
                            <span *ngIf="signupForm.get( 'password').errors[ 'minlength'] ">
                                Enter Valid Pass with minLength equal 8
                            </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                        <div class="form-group " *ngIf="userData !='undefined' ">
                            <label for="fname ">First Name</label>
                            <input type="text " formControlName="fname" class="form-control " id="fname " placeholder="Enter first name " [value]="fname">
                            <span *ngIf="!signupForm.get( 'fname').valid && signupForm.get( 'fname').touched " class="help-block ">
                               
                                <span *ngIf="signupForm.get( 'fname').errors[ 'name has numbers'] ">
                                    Name Shouldn't contain numbers
                                </span>
                            <span *ngIf="signupForm.get( 'fname').errors[ 'minlength'] || signupForm.get( 'fname').errors[ 'maxlength'] ">
                                    Enter Valid name with minLength equal and maxLength equal 8
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                        <div class="form-group ">
                            <label for="lname ">Last Name</label>
                            <input type="text " formControlName="lname" class="form-control " id="lname " placeholder="Enter last name " [value]="lname">
                            <span *ngIf="!signupForm.get( 'lname').valid && signupForm.get( 'lname').touched " class="help-block ">
                               
                                <span *ngIf="signupForm.get( 'lname').errors[ 'name has numbers'] ">
                                    Name Shouldn't contain numbers
                                </span>
                            <span *ngIf="signupForm.get( 'lname').errors[ 'minlength'] || signupForm.get( 'lname').errors[ 'maxlength'] ">
                                    Enter Valid name with minLength equal and maxLength equal 8
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                        <div class="form-group ">
                            <label for="eMail ">Email</label>
                            <input type="email " class="form-control " formControlName="email" id="eMail " placeholder="Enter email ID " ngModel [value]="mail">
                            <span *ngIf="!signupForm.get( 'email').valid && signupForm.get( 'email').touched " class="help-block ">
                    
                                <span *ngIf="signupForm.get( 'email').errors[ 'email'] ">
                                    Please enter Valid Mail: test@site.com
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                        <div class="form-group ">
                            <label for="phone ">Phone</label>
                            <input type="text " class="form-control " formControlName="phone" id="phone " placeholder="Enter phone number " [value]="Phone">
                            <span *ngIf="!signupForm.get( 'phone').valid && signupForm.get( 'phone').touched " class="help-block ">
                                
                                <span *ngIf="signupForm.get( 'phone').errors[ 'age has chars'] ">
                                    Phone should be numbers only
                                </span>
                            <span *ngIf="signupForm.get( 'phone').errors[ 'minlength'] || signupForm.get( 'phone').errors[ 'maxlength'] ">
                                    Phone Number of 11 numbers only
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                        <div class="form-group ">
                            <label for="Address">Address</label>
                            <input type="text " class="form-control " id="phone " placeholder="Enter Address" formControlName="address" [value]="Address">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                        <label for="governorater ">Choose your Governorate: </label>
                        <select id="governorater " name="governorater " formControlName="gover" [(ngModel)]="selectedValue">
                            <option value="Ismailia" ngValue="Ismailia" >Ismailia</option>
                            <option value="Alexandria" ngValue="Alexandria"  >Alexandria</option>

                            <option value="Cairo" ngValue="Cairo"  >Cairo</option>
                            <option value="Port Said" ngValue="Port Said"  >Port Said</option>
                            <option value="Suez " >Suez</option>

                        </select>
                    </div>

                    <div class="row gutters ">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="text-right ml-3 ">

                                <button type="submit " id="submit " name="submit " class="btn btn-custom btn-lg ">Update</button>


                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</form>