<div style="margin-top: 5vw;"></div>
<div class="container w-100" *ngIf="myOrders != undefined">
    <div class="row">
        <div class="col-sm-6" *ngFor="let item of myOrders">
            <div class="card mt-50 mb-50 ml-lg-5 ">
                <div class="col d-flex"><span class="text-muted" id="orderno">order {{item._id}}</span></div>
                <div class="gap">
                    <div class="col-2 d-flex mx-auto"> </div>
                </div>

                <div class="main"> <span id="sub-title">
                                            <p><b>Payment Summary</b></p>
                                        </span>
                    <div *ngFor="let i of item.productID" class="row row-main">
                        <div class="col-3"> <img class="img-fluid" [src]="i.img"> </div>
                        <div class="col-6">
                            <div class="row d-flex">
                                <p><b>{{i.Name}}</b></p>
                            </div>
                            <div class="row d-flex">
                                <p class="text-muted">{{i.resturantID.Name}}</p>
                            </div>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <p><b>{{i.Price}}</b></p>
                        </div>
                    </div>
                    <hr>
                    <div class="total">
                        <div class="row">
                            <div class="col"> <b> Total:</b> </div>
                            <div class="col d-flex justify-content-end"> <b>{{item.total}}</b> </div>

                        </div>
                    </div>
                    <div class="total">
                        <div class="row">
                            <div class="col"> <b> Status:</b> </div>
                            <div class="col d-flex justify-content-end"> <b>{{item.status}}</b> </div>

                        </div>
                    </div>
                    <div *ngIf="item.status==='pending'" class="total">
                        <div class="row">
                            <button class="mt-3" (click)="cancelOrder(item._id,item.userID._id)">Cancel order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>