<div style="margin-top: 5vw;"></div>
<div class="container pb-4">
    <div class="row m-5 w-100">
        <div class="w-10 d-flex justify-content-between align-items-center">
            <div class="col d-flex w-100">

                <div class="col d-flex  justify-content-between align-items-center" style="width: 400px">
                    <label for="productID" class="col-sm">
                    productID:
                    </label>

                    <input #productID="ngModel" [(ngModel)]='id' ngModel name="productID" id="productID" type="text" class="form-control " style="width: 200px; height: 30px;" required>

                </div>


                <div class="col d-flex justify-content-between align-items-center" style="width: 300px;">
                    <label for="productName" style="width: 100px;" class="col-sm">
                        product Name:
                    </label>
                    <select class="form-select " style="width: 100px;" aria-label="Default select example" (change)="onChange($event.target.value)" *ngIf="item != 'undefined'">                        
                    <option *ngFor="let item of allproducts" value="{{item._id}}" selected>{{item.Name}}</option>                    
                  </select>
                </div>

            </div>
            <div class="col ">
                <button type="button" (click)='geTheProduct()' class="btn btn-primary float-right">get the product</button>
            </div>
        </div>
    </div>

    <div *ngIf='item && item.Name'>
        <div class="row">
            <div class="col-md-6 mt-5">
                <form #f="ngForm" (ngSubmit)="save(f.value)">
                    <div class="form-group">
                        <label for="title">Title</label>

                        <input #name [(ngModel)]='item.Name' ngModel name="name" id="title" type="text" class="form-control" required>
                        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                            Title is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            <input #price [(ngModel)]='item.Price' ngModel name="price" id="price" type="number" class="form-control" required [min]="0" number>
                        </div>
                        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                            <div *ngIf="price.errors.number">Price must be a NUMBER and be 0 or higher</div>
                            <div *ngIf="price.errors.required">Price is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status">status</label>
                        <!-- <input ngModel name="status" #status="ngModel" id="status" type="text" class="form-control" required [min]="0" number> -->

                        <select #status ngModel name="status" [(ngModel)]='item.status' type="text" class="form-control">
                        <option>sale</option>
                        <option>Not Sale</option>
                      </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea ngModel class="form-control" name="Description" #Description="ngModel" id="Description" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="resturantID">resturantID</label>
                        <input ngModel name="resturantID" [(ngModel)]='item.resturantID._id' id="status" type="text" class="form-control" required [min]="0" number>
                    </div>

                    <div class="form-group">
                        <div>
                            <button class="pickImg btn btn-secondary" type="button" (click)="filePicker.click()">Upload Image</button>
                            <input type="file" #filePicker (change)="onImagePicked($event)">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary float-right" [disabled]="f.invalid" ngbTooltip="Fill all Fields first">Save</button>
                </form>
            </div>




            <div class="col-md-6 mt-5">
                <div class="mb-2">
                    Product Preview
                </div>
                <div class="card text-center" style="width: 18rem;" *ngIf=" this.item">
                    <img [src]=" this.item.img" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">{{ name.value }}</h3>
                        <!-- Currency PIPE -->
                        <p class="card-text">{{status.value}} | {{price.value | currency:'USD':'symbol'}}</p>
                        <p class="card-text"></p>
                        <p>{{Description.value}}</p>
                    </div>
                </div>
            </div>













        </div>
    </div>
</div>